{{ ansible_managed | comment }}

[Unit]
Description=Prometheus exporter for Proxmox VE
Documentation=https://github.com/znerol/prometheus-pve-exporter
After=network-online.target

[Service]
Type=simple
User=pve_exporter
Group=pve_exporter
ExecStart=/usr/local/bin/pve_exporter /etc/pve_exporter/pve.yml

SyslogIdentifier=pve_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
