{{ ansible_managed | comment }}

[Unit]
Description=Prometheus PiHole Exporter
After=network-online.target

[Service]
Type=simple
User={{ pihole_exporter_user }}
Group={{ pihole_exporter_group }}
ExecStart=/usr/bin/pihole_exporter -port {{ pihole_port }} -pihole_password {{ pihole_admin_password }}

SyslogIdentifier=pihole_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
